.cart {
  flex: 100%;
}
@media (min-width: 970px) {
  .cart {
    flex: 50%;
  }
}

.cart .header {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.basket {
  width: 100%;
}

.basket th {
  text-align: left;
}

.basket #totalLabel {
  text-align: left;
}

.basket .summary td {
  padding-top: 2rem;
}

.basket .removeButton,
.basket .addButton {
  cursor: pointer;
  user-select: none;
  margin: 0 0.4rem;
}

.basket .noItem {
  padding: 2rem 2rem 0;
  text-align: center;
}

.basket .col {
  width: 25%;
}

.basket .col.last {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket .action {
  font-weight: bold;
}

.basket button.action {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}
