.content {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #666;
  color: #fff;
  max-width: 8rem;
  text-align: center;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #444;
  cursor: pointer;
}

button:focus {
  background-color: #444;
}
