.products {
  flex: 100%;
}
@media (min-width: 970px) {
  .products {
    flex: 50%;
  }
}

.products .header {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list .item {
  width: 50%;
  text-align: center;
}

button.add-to-cart {
  margin-top: 1rem;
}

.product-image {
  width: 8rem;
}
